@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
.logo-font{
  font-family: 'Allura', cursive;
}
.dark-mode {
  background: linear-gradient(135deg, #0c090f, #330530);
  color: white;
}
